name: Deploy to New FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug DNS for FTP server
        run: |
          echo "FTP Deploy Test Username: ${{ secrets.FTP_USERNAME }}..."

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server:     "pongftp.waespis.net"
          username:   ${{ secrets.FTP_USERNAME }}
          password:   ${{ secrets.FTP_PASSWORD }}
          local-dir:  "./"
          server-dir: "./"        
          exclude: |
            **/.git*
            **/.git*/**
            **/.github/**
          log-level: "verbose"
